.container{
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;
}
.container-long{
  max-width: 1800px;
}
html,
body{
  height: 100%;
}
body{
  display: flex;
flex-direction: column;
}
main{
  flex-grow: 1;
}