.container{
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
    max-width: 1200px;
}
.container-long{
  max-width: 1800px;
}
.top-slider__container{
  min-width: 1400px;
}
html,
body{
  height: 100%;
}
body{
  display: flex;
flex-direction: column;
}
main{
  flex-grow: 1;
}
.gallery-nav{
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-bottom: 70px;
  &__button{
    
    border: none;
    background-color: #fff;
    @extend %dmsans-700;
    color: #8b8b8b;
     &.mixitup-control-active {
            color: #363636;
        }
      }
    }
    .title{
      text-align: center;
    padding-top: 70px;
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    }
    
    @function max($numbers...){
      @return m#{a}x(#{$numbers});
    }
    @function min($numbers...){
    @return m#{i}n(#{$numbers});
    }
    