@import 'vars';
@import 'fonts';
@import 'global';
@import 'media';
@import 'libs';
@import 'reset';


.header{
  .logo{
    display: flex;
  }
  padding: 20px 0;
  &__inner{
    display: flex;
    justify-content: space-between ;
    align-items: center;
  }
  
}
.logo{
  &__text{
    padding-left: 20px;
    color: $accent;
    font-size: 36px;
    line-height: 58px;
    font-weight: 700;
     @extend %rubik-500; 

  }
}
.menu{
    &__list{
      display: flex;
    }
    &__list-item + .menu__list-item{
      padding-left: 36px;
    }
    &__list-link{
      @extend %rubik-500;
      color: $accent;
      font-size: 16px;
      line-height: 21px;
      &:hover{
        color: $accent;
        border-bottom: 1px solid $accent;
        transition: all .3s;

      }
    }
  }
  .user-nav{
    display: flex;
   
    &__search{
      background-color: #edf1f4;
      margin-right: 20px;   
      width: 53px;
      height: 53px;
      border: none;
      border-radius: 50%;
     path {
            width: 16px;
            height: 16px;
            fill: $accent;
        }
    }
    
    &__hidden{
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
    }
    &__item{
      position: relative;
      border: none;
      background-color: #fcd7b6;
      path{
width: 16px;
            height: 16px;
            fill: $accent;
      }
    }
    &__item--left{
      padding: 12px 13px 12px 36px;
      border-radius: 30px 0 0 30px;
      &:hover{
        transition: all .3s;
        background-color: $title;
      
      }
      path:hover{
   color: #fff;
      }

    }
    &__item--right{
      padding: 12px 30px 12px 32px;
      border-radius: 0 30px 30px 0;

    }
    &__burger{
      background-color: #a3bbc8;
      width: 53px;
      height: 53px;
      border: none;
      border-radius: 50%;
      margin-left: 20px;
    }
    &__num{
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #fff;
      color: $accent;
      font-size: 10px;
      top: 12px;
      left: 47px;
    }
    &__wrap svg{
      fill: $accent;
    }
  }
  .footer-top{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a3bbc8;
    padding-bottom: 70px;
    &__item{
      padding-top: 18px;
      width: 100%;
      max-width: 270px;
    }
    &__contact{
      max-width: 200px;
    }
    &__logo{
      padding-bottom: 24px;
      display: block;
    }
    &__title{
      @extend %dmsans-700;
      text-transform: uppercase;
      padding-bottom: 14px;
    }
    &__items{
      padding-bottom: 5px;
      @extend %items; 
    }
    &__form{
      display: flex;

    }
    &__input{
      max-width: 170px;
      width: 100%;
      padding: 12px 15px;
      border: none;
      background-color: #fef7f0;
      @extend %rubik-400;
      color: $accent;
    }
    &__btn{
      border: none;
      max-width: 100px;
      width: 100%;
      padding: 12px 10px;
    background-color: #a3bbc8;
    color: #fff;
     @extend %rubik-400;
      
    }
  }
  .address {
    width: 100%;
    max-width: 270px;

    &__item {
     @extend %rubik-400;
           color: #7b7b7b;
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        p:not(:last-child) { 
          
           margin-bottom: 9px;
        }
        a{
          @extend %rubik-400;
           color: #7b7b7b;
        }
    }

}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  &__copy{
    @extend %rubik-400;
    color: #7b7b7b;
  }
  
}
.footer-navigation{
  display: flex;
  &__item{
    &:not(:last-child){
      border-right: 1px solid #7b7b7b ;

    }
  
  }
  &__link{
    padding: 0 10px;
    @extend %rubik-400;
    color: #7b7b7b;
  }
}


.top-slider{
  background-image: url('../images/slider-bg.png');
    &__inner{
 
  }
   
  &__wrap{
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
     padding: 220px 0 280px;
   &::before{
     content: "";
            position: absolute;
            right: 19px;
            top: 50%;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            background-image: linear-gradient(to left, #fff 0%, rgba(#fff, 0) 100%);
            transform: translateY(-50%);

  
   }
  }
  &__img-wrap{
       position: relative;
    top: 17px;
}
  &__content{
    padding-right: 100px;
  }
  &__title{
    @extend %rubik-500;
    font-size: 72px;
    max-width: 420px;
    color: $title;
    padding-bottom: 40px;
  }
  &__text{
    padding-bottom: 44px;
    @extend %rubik-400;
    color: $accent;
    max-width: 370px;
    font-size: 18px;
  }
  &__link{
    @extend %rubik-500;
   
    background-color: #a3bbc8;
    color: #fff;
    padding: 18px 12px 18px 20px;
    font-size: 15px;
    position: absolute;
    fill: #fff;
    span{
      padding-right: 44px;
    }
  }
}
.slick-dots{
  display: flex;    
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
   li {
   &:not(:last-child) {
   margin-right: 11px;
  }
  button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-weight: 500;
  font-size: 12px;
 border-color: #fff;
  background-color: rgba(#fff, 0.3);
  transition: background-color 0.5s;
  
                    &:focus,
                    &:hover {
                        background-color: rgba(#fff, 0.6);
                    }
                }

                &.slick-active {
                    button {
                        background-color: #fff;
                }
        } 

      }  
      }